/*Ajustes de toda la página*/
body{
	background-image: url(./fondo.gif);
	background-size: 125%;
	background-attachment: fixed;
	font-family: "Magneto";
}
/*Títulos principales de cada página*/
h1{
	color: #E1F0FD;
	text-align: center;
}
/*Títulos de cada sección en News y Community*/
h2{
	color: #4287f5;
	text-align: left;
	margin-left: 10%;
}
/*El texto de "Search article: " en Info*/
h3#searchArticlesH{
	color: #E1F0FD;
	text-align: center;
}
/*Hace que todas las tablas, como el menu, ocupen toda la anchura de la pantalla*/
table{
	width: 100%;
}
/*Fija el overlay del menu*/
div#overlay{
	position: fixed;
	height: 4%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*Colorea el texto de los botones del menu a negro y los centra en el botón*/
p#menu{
	color: #000000;
	margin-top: 3%;
}
td#casillaSearch{
	width: 24%;
	background-color: #8c8fa1;
	padding-right: 1%;
}
td#casilla{
	width: 17.75%;
	cursor: pointer;
	background-color: #8c8fa1;
}
td#casillaImg{
	width: 5%;
	background-color: #8c8fa1;
	padding-left: 1%;
	padding-right: 1%;
}
td#casillaPag{
	background-color:#6f7180;
	width: 17.75%;
	cursor: pointer;
}
td#casilla:hover{
   background-color:#7d7f91;
}
img#icon{
	width: 100%;
}
input#searchArticles{
	width: 50%;
}
h3{
	margin-left: 12%;
	margin-right: 12%;
	color: #0015ff;
}
/*Ajusta los titulares de las notocias*/
a#noticia{
	color: #ffffff;
	margin-left: 5%;
	font-size:150%;
}

div#carrousell{
	height: 100%;
}